<div id="main">
  <div class="head">
    <button>保存</button>
    <button style="margin-left: 5px">预览</button>
  </div>
  <hr>
  <div class="left">
    <button>按钮</button>
  </div>
  <div class="center" [ngStyle]="areaStyle">
  </div>
  <div class="right">
    <div class="rightHead">画布设置</div>
    <hr>
    <div>
      <label>宽度：</label>
      <input type="text" [(ngModel)]="area.width">
    </div>
    <div>
      <label>高度：</label>
      <input type="text" [(ngModel)]="area.height">
    </div>
    <div>
      <label>背景色：</label>
      <input type="color" [(ngModel)]="area.backgroundColor">
    </div>
    <div>
      <label>背景图：</label>
      <label class="upload-btn" for="file1">上传</label>
      <input type="file" #file1 id="file1" accept="*.png" (change)="imgSelect($event)">
      <input type="button" value="取消" (click)="clearImg()">
    </div>
    <div>
      <button style="background-color: #007acc" (click)="areaChange()">确定</button>
      <button style="background-color: #007acc" (click)="areaReset()">重置</button>
    </div>
  </div>
  <div style="clear: both">

  </div>

</div>