<div id="main">
  <div class="head">
    <button>保存</button>
    <button style="margin-left: 5px">预览</button>
  </div>
  <hr>
  <div class="left">
    <button>按钮</button>
  </div>
  <div class="center">
  </div>
  <div class="right">
    <div class="rightHead">画布设置</div>
    <hr>
    <div>
      <label>宽度：</label>
      <input type="text">
    </div>
    <div>
      <label>高度：</label>
      <input type="text">
    </div>
    <div>
      <label>背景色：</label>
      <input type="text">
    </div>
    <div>
      <label>背景图：</label>
      <button style="background-color: #008040">上传</button>
      <button>取消</button>
    </div>
    <div>
      <button style="background-color: #007acc">确定</button>
    </div>
  </div>
  <div style="clear: both">

  </div>

</div>